
@model Model.ViewModels.TeamSafetyItem.VmTeamSafetyItemCollection

@{
    ViewBag.Title = "Experimental Safety Plan";
    Layout = "~/Views/Shared/_LayoutSafetyAdmin.cshtml";
    var firstTime = true;
    var firstAccordionLinkId = "";
}
<link href="~/Resources/CSS/accordion_.css" rel="stylesheet" />

<h2>Experimental Safety Plan. </h2>
<h3>Team Name: <span style="color:#850d0d">@Model.TeamName</span> ---- <span style="color:#850d0d">@Model.TaskName.ToUpper()</span></h3>
<h3> @Model.University </h3>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <script>
                var safetyItemSubmitObject =
                {
                    commentId: "",
                    commentValue: "",
                    descriptionContentIsReadonly: false,
                    descriptionContentValue: "",
                }

                var safetyItemSubmitObjectList = [];

            </script>
            @{
                var teamId = Model.TeamSafetyItemList.First().TeamId;
            }
            @foreach (var item in Model.TeamSafetyItemList)
            {
                var selectedFileNameContainerId = "selectedFileNameContainer" + item.SafetyItemId;
                var attachedFileId = "attachedFile" + item.SafetyItemId;
                var attachedFileFileInputId = "attachedFileFileInput" + item.SafetyItemId;
                var attachedFileUrlHiddenId = "attachedFileUrlHidden" + item.SafetyItemId;

                var headingId = "heading" + item.SafetyItemId;
                var collapseId = "collapse" + item.SafetyItemId;
                var accordionLinkId = "accordionLink" + item.SafetyItemId;
                var commentId = "comment" + item.SafetyItemId;
                var descriptionContentId = "descriptionContent" + item.SafetyItemId;
                var itemStatusId = "itemStatus" + item.SafetyItemId;
                var approveButtonId = "approveButton" + item.SafetyItemId;
                var inReviewButtonId = "inReviewButton" + item.SafetyItemId;
                var bkackgoundColor = "accordion-bkackgound-light";
                var statusImage = "/Resources/Images/Stylish_ok.png";
                var statusImageId = "statusImage" + item.SafetyItemId;
                var safetyCommentLogButtonId = "safetyCommentLogButton" + item.SafetyItemId;
                var safetyContentLogButtonId = "safetyContentLogButtonId" + item.SafetyItemId;
                var descriptionContentValueDivId = "descriptionContentValueDiv" + item.SafetyItemId;
                var commentValueDivId = "commentValueDiv" + item.SafetyItemId;

                <div id="@descriptionContentValueDivId" class="hidden">@MvcHtmlString.Create(item.LastContent.Replace("\r\n", "</br>"))</div>
                <div id="@commentValueDivId" class="hidden"> @MvcHtmlString.Create(item.LastComment.Replace("\r\n", "</br>"))</div>

                <script>

                   safetyItemSubmitObject = {

                       commentId : "@commentId",
                       commentValueDivId: '@commentValueDivId',

                       descriptionContentId : "@descriptionContentId",
                       descriptionContentValueDivId: '@descriptionContentValueDivId',

                    }

                    safetyItemSubmitObjectList.push(safetyItemSubmitObject);


                </script>

                if (firstTime == true)
                {
                    firstAccordionLinkId = accordionLinkId;
                    firstTime = false;
                }

                if (item.ItemStatus == 1)
                {
                    bkackgoundColor = "accordion-bkackgound-light";
                }
                else
                {
                    bkackgoundColor = "accordion-bkackgound-dark";
                }

                if (item.ItemStatus == 3)
                {
                    statusImage = "/Resources/Images/Stylish_ok.png";
                }
                else
                {
                    statusImage = "/Resources/Images/Stylish_not_ok.png";
                }


                <div class="panel panel-default">
                    <div class="panel-heading border-round @bkackgoundColor" role="tab" id="@headingId"
                         data-toggle="collapse" data-parent="#accordion" data-target="#@collapseId">
                        <div class="row">
                            <div class="col-xs-11">
                                <h4 class="panel-title">
                                    <a id="@accordionLinkId" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                        @item.SafetyItemName
                                    </a>
                                </h4>

                            </div>
                            <div class="col-xs-1">
                                <img src="@statusImage" id="@statusImageId" width="32" />
                            </div>
                        </div>
                    </div>
                    <div id="@collapseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headingId">
                        <div class="panel-body">
                            @*<div class="col-xs-12 text-justify text-left">
                                    @item.Instruction
                                    <hr />
                                </div>*@
                            <div class="row text-left">
                                <div class="form-group">
                                    @Html.Label(@Model["Content"], htmlAttributes: new { @class = "control-label col-xs-12" })

                                    <div class="col-xs-12">

                                        @*@Html.Label(item.LastContent, new { @class = "form-control description-content", @id = @descriptionContentId })*@


                                        <div class="form-control description-content" id="@descriptionContentId"></div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <a href="@HttpUtility.HtmlDecode(@item.AttachedFileUrl??"")" id="@selectedFileNameContainerId" class="display-block" target="_blank">

                                        @if (string.IsNullOrWhiteSpace(item.AttachedFileUrl) == false)
                                        {
                                            var splitItem = item.AttachedFileUrl.Split(new string[] { "?CT" }, StringSplitOptions.RemoveEmptyEntries)[0];
                                            var slashSplit = splitItem.Split('/');
                                        <span class="col-xs-12 display-block">Attached File: @HttpUtility.HtmlDecode(@slashSplit[slashSplit.Length - 1])</span>
                                        }

                                    </a>
                                    <hr />

                                    @Html.HiddenFor(model => item.AttachedFileUrl, htmlAttributes: new { @id = @attachedFileUrlHiddenId })

                                </div>

                                <hr />
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.Label(@Model["Safety Admin Comment"], htmlAttributes: new { @class = "control-label col-xs-12" })
                                        <div class="col-xs-12">

                                            <div class="form-control description-content" id="@commentId"></div>

                                            <i class="text-danger fa-2x">*</i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button type="button" id="@approveButtonId" class="btn btn-group btn-success">Approve This Item</button>
                                        <button type="button" id="@inReviewButtonId" class="btn btn-group btn-primary">Save the Comment</button>
                                        <button type="button" id="@safetyCommentLogButtonId"
                                                onclick="showSafetyLog('@item.SafetyItemId', '@item.SafetyItemName', true)"
                                                class="btn btn-group btn-warning">
                                            Safety Admin Comment History
                                        </button>
                                        <button type="button" id="@safetyContentLogButtonId"
                                                onclick="showSafetyLog('@item.SafetyItemId', '@item.SafetyItemName', false)"
                                                class="btn btn-group btn-warning">
                                            Team Changes History
                                        </button>
                                    </div>
                                    <script>

                                        $('#@approveButtonId').click(function () {
                                            var safetyItemValueObject = {
                                                safetyItemId: @item.SafetyItemId,
                                                comment: $('#@commentId').summernote('code'),
                                                itemStatus: 3,
                                                teamId: @item.TeamId,
                                                attachedFileUrl : '@item.AttachedFileUrl',
                                                descriptionContentValueDivId: '@descriptionContentValueDivId',
                                                headingId: '@headingId',
                                                statusImageId: '@statusImageId',
                                            };


                                            saveSaftyItem(safetyItemValueObject);

                                        });

                                    </script>

                                    <script>

                                        $('#@inReviewButtonId').click(function () {
                                            var safetyItemValueObject = {
                                                safetyItemId: @item.SafetyItemId,
                                                comment: $('#@commentId').summernote('code'),
                                                itemStatus: 2,
                                                teamId: @item.TeamId,
                                                attachedFileUrl : '@item.AttachedFileUrl',
                                                descriptionContentValueDivId: '@descriptionContentValueDivId',
                                                headingId: '@headingId',
                                                statusImageId: '@statusImageId',

                                            };

                                            if (safetyItemValueObject.comment.length == 0) {

                                                alert("Please enter the comment for this safety item");
                                                return;
                                            }

                                            saveSaftyItem(safetyItemValueObject);

                                        });

                                    </script>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" id="finalInReviewButtonId" class="btn btn-group btn-danger">In review</button>

            <button type="button" id="savetheESPButtonId" class="btn btn-group btn-success">Approve the ESP</button>

            <script>

                $('#finalInReviewButtonId').click(function () {

                    HoldOn.open({
                        theme: 'sk-cube-grid',
                        message: "<h4>@Model["Please wait..."]</h4>"
                    });

                    $.ajax({
                        url: "/safetyadmin/espa", //you can get also action attribute from form using form.attr('action')
                        type: 'POST',
                        data: { teamId: @teamId, itemStatus : 2},
                        dataType: "json"

                    }).done(
                        function (result)
                        {
                            if (result.allowInReview == false) {
                                alert("There is no new comment to send as a review");
                            }
                            else {

                                alert("Operation successful");
                            }

                            HoldOn.close();
                        });

                });
                $('#savetheESPButtonId').click(function () {

                    HoldOn.open({
                        theme: 'sk-cube-grid',
                        message: "<h4>@Model["Please wait..."]</h4>"
                    });

                    $.ajax({
                        url: "/safetyadmin/espa", //you can get also action attribute from form using form.attr('action')
                        type: 'POST',
                        data: { teamId: @teamId, itemStatus: 3 },
                        dataType: "json"
                    }).done(
                        function (result)
                        {

                            alert("Operation successful");
                            location.href = "/safetyadmin/gesp/?teamId=" + @teamId;

                        });

                });

            </script>
        </div>
    </div>


</div>
<link href="~/Resources/CSS/modal-fixed-full-screen.css" rel="stylesheet" />
<div class="modal-fixed-full-screen">
    <div class="modal fade" id="safetyLogModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">@Model["Safety Admin Comment History"]</h5>
                    <div class="row text-center">
                        <h4 class="col-xs-12 text-left" id="safetyItemNameContainer"></h4>
                        <div class="col-xs-12 text-left" id="safetyLogContainer"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function showSafetyLog(safetyItemId, safetyItemName, type) {

        HoldOn.open({
            theme: 'sk-cube-grid',
            message: "<h4>@Model["Please wait..."]</h4>"
        });

        $.ajax({
            url: "/safetyadmin/scl", //you can get also action attribute from form using form.attr('action')
            type: 'POST',
            data: { safetyItemId: safetyItemId, teamId: @teamId, type: type },
            dataType: "html",
        }).done(
            function (result) {
                debugger
                $("#safetyLogContainer").html(result);
                $("#safetyItemNameContainer").html(safetyItemName);

                $("#safetyLogModal").modal();

                HoldOn.close();
            });
    }

</script>
<script type="text/javascript">
    function saveSaftyItem(safetyItemValueObject) {

        var formData = new FormData();

        formData.append("safetyItemId", safetyItemValueObject.safetyItemId);
        formData.append("teamId", safetyItemValueObject.teamId);
        formData.append("comment", safetyItemValueObject.comment);
        formData.append("itemStatus", safetyItemValueObject.itemStatus);
        formData.append("attachedFileUrl", safetyItemValueObject.attachedFileUrl);
        formData.append("lastContent", $('#' + safetyItemValueObject.descriptionContentValueDivId).html());

        HoldOn.open({
            theme: 'sk-cube-grid',
            message: "<h4>@Model["Please wait..."]</h4>"
        });

        $.ajax({
            url: "/safetyadmin/ssi", //you can get also action attribute from form using form.attr('action')
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
        }).done(
            function (result)
            {
                $("#" + safetyItemValueObject.headingId).addClass("accordion-bkackgound-dark").removeClass("accordion-bkackgound-light");

                alert("Operation successful");

                if (safetyItemValueObject.itemStatus == 3) {
                    $("#" + safetyItemValueObject.statusImageId).attr("src", "/Resources/Images/Stylish_ok.png");
                }
                else
                {
                    $("#" + safetyItemValueObject.statusImageId).attr("src", "/Resources/Images/Stylish_not_ok.png");
                }




                HoldOn.close();
            });

    }

</script>

<script>

    $(window).on("load", function () {
        console.log("window loaded @firstAccordionLinkId");

        for (i = 0; i < safetyItemSubmitObjectList.length; i++)
        {
            var contentElement = $("#" + safetyItemSubmitObjectList[i].descriptionContentId);

            contentElement.summernote({
                height: 300, minHeight: null, maxHeight: null, focus: false,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']], ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr', 'uploadfile']],
                    ['view', ['fullscreen', 'codeview']],
                    ['help', ['help']]
                ],
            });
            contentElement.summernote('code', $('#' + safetyItemSubmitObjectList[i].descriptionContentValueDivId).html());

            contentElement.summernote('disable');

            var commentElement = $("#" + safetyItemSubmitObjectList[i].commentId);

            commentElement.summernote({
                height: 300, minHeight: null, maxHeight: null, focus: false,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']], ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr', 'uploadfile']],
                    ['view', ['fullscreen', 'codeview']],
                    ['help', ['help']]
                ],
            });

            commentElement.summernote('code', $('#' + safetyItemSubmitObjectList[i].commentValueDivId).html());
        }
    });
</script>