@model WERC.Models.RegisterViewModel
@{
    ViewBag.Title = @Model["Create a new Editor account"];
    Layout = "~/Views/Shared/_LayoutAdvisor.cshtml";
}

<div class="col-sm-4">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="returnUrl" name="ReturnUrl" value="@Model.ReturnUrl" />
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label(@Model["User Name"], new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@Model["E-Mail"], new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <input type="hidden" name="RoleName" id="RoleName" value="@Model.RoleName" />

        <div class="form-group">
            @Html.Label(@Model["Password"], new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@Model["Confirm Password"], new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-8">
                <button type="submit" class="btn btn-primary" value="@Model["Register"]">
                    <i class="fa fa-user-plus icon-size-1-3"></i>
                    <span class="">@Model["Register"]</span>
                </button>
            </div>
        </div>

    }


</div>

