@using WERC.Models
@model LoginViewModel
@{
    ViewBag.Title = @Model["Login"];
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-sm-6 clear-col-left-margin visible-xs">
            <br />
            <hr />
            <p class="text-justify">
                Welcome to WERC 2019. Faculty advisers and Judges (not students) must first create an account . Your Email will be your permanent username for this account. After signing up you will receive an email from WERC administration. You should confirm that email to verify your email address for the WERC system. Your account will be still pending to receive the approval email from WERC administration. It will be active by the WERC administrator within 24 hours. Then Faculties should create their team/s. Once the faculty adviser adds a student team leader to the account, the team leader may then add additional team members to the account. For questions about the WERC online platform, please call 575-646-8171 or email werc@nmsu.edu.
            </p>
        </div>

        <div class="col-xs-12 col-sm-6 clear-col-left-margin">
            @* @class = "form-horizontal"*@
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h4><b>WERC @Model["Sign In"]</b></h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.Label(@Model["User Name"], new { @class = "col-xs-12  control-label" })
                    <div class="col-xs-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @* @Html.ValidationMessageFor(m => m.Email, @Model["E-Mail"], new { @class = "text-danger" }, "*")*@
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label(@Model["Password"], new { @class = "col-xs-12 control-label" })
                    <div class="col-xs-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessage(@Model["Password"], @Model["The Password Is Required."], new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 col-xs-12">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "text-danger remember-me" })
                        @Html.Label(@Model["Remember Me?"])
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary col-xs-6 login-button">
                            <i class="fa fa-sign-in icon-size-1-3"></i>
                            <span class="">@Model["Sign In"]</span>
                        </button>

                        @Html.ActionLink(@Model["Forgot Password?"], "ForgotPassword", "Account", new { @class = "btn btn-danger col-xs-6 login-button" })

                        <a href="/Account/Register?ReturnUrl=@ViewBag.ReturnUrl" class="btn btn-success col-xs-12 login-button">

                            <span class="">@Model["Don't have an account?  "]   </span>
                            <i class="fa fa-user-plus icon-size-1-3"></i>
                            <span class="">@Model["Sign Up"]</span>
                        </a>

                    </div>

                </div>
            }
        </div>

        <div class="col-sm-6 clear-col-left-margin hidden-xs">
            <br />
            <hr />
            <p class="text-justify">
                Welcome to WERC 2019. Faculty advisers and Judges (not students) must first create an account . Your Email will be your permanent username for this account. After signing up you will receive an email from WERC administration. You should confirm that email to verify your email address for the WERC system. Your account will be still pending to receive the approval email from WERC administration. It will be active by the WERC administrator within 24 hours. Then Faculties should create their team/s. Once the faculty adviser adds a student team leader to the account, the team leader may then add additional team members to the account. For questions about the WERC online platform, please call 575-646-8171 or email werc@nmsu.edu.
            </p>
        </div>

        @*<div class="col-xs-4 visible-xs">
                <h4><b>@Model["Social"] @Model["Login"].</b></h4>

                <a class="offCanvasButton"
                   data-toggle="offcanvas"
                   value="Social log in">

                    <img src="/Resources/Images/magearray-sociallogin-icon-1.jpg"
                         class="social-button"
                         title="@Model["Login With Your Social Network Account"]" />
                </a>
            </div>*@

        @*<div class="col-xs-12 sidebar-offcanvas visible-xs" id="sidebar">
                <div class="row">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel
               {
                   LanguageDictionary = Model.LanguageDictionary,
                   ReturnUrl = ViewBag.ReturnUrl
               })
                </div>
                <hr />
                <div class="row visible-xs">
                    <div class="col-xs-8">
                        <a class="col-xs-2"
                           data-toggle="offcanvas"
                           value="@Model["Social Login"]">
                            <i class="fa fa-arrow-left fa-2x back-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>*@
    </div>
</div>

@*<div class="col-lg-4 col-md-5 col-sm-6 hidden-xs">
        <div class="row">

            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel
       {
           LanguageDictionary = Model.LanguageDictionary,
           ReturnUrl = ViewBag.ReturnUrl
       })
        </div>
    </div>*@
<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>

