
@using Model.ToolsModels.Grid

@model VmJsGrid

@{
    var jsGridHtmlElementId = "_" + Model.HtmlElementId;
    var jsGridObjectId = Model.HtmlElementId;
    var detailsDialogHtmlElementId = Guid.NewGuid().ToString().Replace("-", "_");
    var jsGridLoadDataUrl = Url.Action(Model.DataAction, Model.DataController);
    var jsGridUpdateDataUrl = Url.Action(Model.EditAction, Model.EditController);
    var Display = Model.ReadOnly ? "hidden" : "";
}

<div class="row">
    <div class="col-xs-12">
        <button type="button" id="submitJudgesAssignedTasks" class="btn btn-primary">Send email to selected tasks</button>
    </div>
    <hr />
    <div id="@jsGridHtmlElementId"></div>

    <link href="~/Resources/CSS/modal-fixed-full-screen.css" rel="stylesheet" />
    <div class="modal-fixed-full-screen">
        <div class="modal fade" id="profileInfoModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close profile-info-modal-close-button">&times;</button>
                        <h4 class="modal-title"><span id="profileNameSpan"></span> Profile Info</h4>
                    </div>
                    <div class="modal-body">
                        <div id="profileDiv" class="row text-left"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default profile-info-modal-close-button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(
        function () {
            $(".profile-info-modal-close-button").click(function () {
                debugger
                $("#profileInfoModal").modal("toggle");
            });

            $("#submitJudgesAssignedTasks").click(function () {
                HoldOn.open({
                    theme: 'sk-cube-grid',
                    message: "<h4>@Model["Please wait..."]</h4>"
                });


                $.ajax({
                    type: "POST",
                    url: "/judge/sjat",
                    data: { userIdList: selectedItems },
                    dataType: "html",

                }).done(function (response) {
                    HoldOn.close();

                }).fail(function (data, textStatus, XMLHttpRequest) {
                        HoldOn.close();
                    });

            });
        });


    var taskRowIndex = 0;

    $(document).ready(function () {

        $("#@jsGridHtmlElementId").jsGrid({
            width: "100%",
            height: "auto",
            filtering: false,
            editing: true,
            inserting: false,
            autoload: true,
            paging: true,
            pageSize: 50,
            pageIndex: 1,
            pageButtonCount: 5,
            datatype: "json",
            updateOnResize: false,
            rowClick: function (args) {
                $.ajax({
                    type: "POST",
                    url: "/person/gpi",
                    data: { userId: args.item.UserId },
                    dataType: "html",


                }).done(function (response) {
                    if (response == '') {
                        response = 'Profile not completed';
                    }
                    debugger
                    $("#profileDiv").html(response);
                    $("#profileNameSpan").text(args.item.FirstName + " " + args.item.LastName);
                    $("#profileInfoModal").modal();
                }).fail(function (data, textStatus, XMLHttpRequest) {});

            },
            onDataLoading: function (args) {


            },
            onDataLoaded: function (args) {

                for (i = taskRowIndex - 1; i >= 0; i--) {
                    $("#taskDiv" + i).on('shown.bs.collapse', function () {

                        $(this).prev().addClass("glyphicon-chevron-up");
                        $(this).prev().removeClass("glyphicon-chevron-down");
                    });

                    $("#taskDiv" + i).on('hide.bs.collapse', function () {

                        $(this).prev().addClass("glyphicon-chevron-down");
                        $(this).prev().removeClass("glyphicon-chevron-up");
                    });

                }

            },
            controller: {
                loadData: function (filter) {

                    return $.ajax({
                        type: "GET",
                        url: "@jsGridLoadDataUrl",
                        data: { filter }
                    });
                }
            },

            fields:
                [
                    { name: "Id", type: "number", visible: false },
                    { name: "UserId", type: "text", visible: false },
                    {
                        type: "control",
                        align: "center",
                        sorting: false,
                        width: 40,
                        headerTemplate: function () {

                            return $("<span>").text("All").css({ display: "block" })
                                .add($("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox")
                                    .click(function () {
                                        selectedItems = [];
                                        if (this.checked) { // check select status
                                            $('.singleCheckbox').each(function () {
                                                this.checked = true;
                                                selectItem($(this).data("value"));
                                            });
                                        } else {

                                            $('.singleCheckbox').each(function () {
                                                this.checked = false;
                                                unselectItem($(this).data("value"));
                                            });
                                            selectedItems = [];
                                        }
                                    }).css({ width: "20px", height: "20px" }));
                        },
                        itemTemplate: function (_, item) {

                            return $("<input>").attr("type", "checkbox")
                                .attr(
                                    {
                                        "class": "singleCheckbox",
                                        "data-value": item.UserId,
                                    })
                                .prop("checked", $.inArray(item.UserId, selectedItems) > -1)
                                .on("click", function (item) {
                                    event.stopPropagation();
                                }).on("change", function (item) {
                                    $(this).is(":checked") ? selectItem($(this).data("value")) : unselectItem($(this).data("value"));
                                }).css({ width: "20px", height: "20px" });
                        },

                    },
                    { name: "FirstName", title: "@Model["First Name"]", type: "text", width: 80 },
                    { name: "LastName", title: "@Model["Last Name"]", type: "text", width: 80 },
                    { name: "Email", title: "@Model["Email"]", type: "text", width: 100 },
                    {
                        name: "Tasks", title: "@Model["Tasks"]", width: 100, type: "text",
                        itemTemplate: function (item) {

                            var result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                            var taskList = [''];
                            if (item != null) {
                                taskList = item.split(',');
                            }
                            var taskHtmlList = '';

                            for (i = 0; i < taskList.length; i++) {
                                taskHtmlList += '<li>' + taskList[i] + '</li>';
                            }

                            var collapsElement = $(
                                '<div id="taskDiv' + taskRowIndex + '" class="collapse in">' +
                                '<ul>' + taskHtmlList + '</ul>' +
                                '</div>');

                            var customButton = $("<button>")
                                .attr({
                                    "data-toggle": "collapse",
                                    "class": "btn btn-success glyphicon glyphicon-chevron-up",
                                    "data-target": "#taskDiv" + taskRowIndex,
                                })
                                .on("click", function () {
                                    $(this).next().collapse("toggle");
                                    return false;
                                });

                            taskRowIndex++;
                            return result.add(customButton).add(collapsElement);
                        }
                    },
                    {
                        name: "Agreement", title: "@Model["Registration Status"]", width: 80,
                        itemTemplate: function (item) {

                            if (item == true) {
                                val = '/Resources/Images/Stylish_ok.png';
                            }
                            else
                            {
                                val = '/Resources/Images/Stylish_not_ok.png';
                            }

                            return $("<img>").attr("src", val).css({width:"32px"})
                        }
                    },

            ]
        });
    });

    var selectedItems = [];

    var selectItem = function (item) {

        selectedItems.push(item);
        if ($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
            $("#selectAllCheckbox").prop("checked", true);
        } else {
            $("#selectAllCheckbox").prop("checked", false);
        }
    };

    var unselectItem = function (item) {
        selectedItems = $.grep(selectedItems, function (i) {
            return i !== item;
        });
        if (selectedItems.length == 0) {
            $('#selectAllCheckbox').attr('checked', false);
        }
        if ($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
            $("#selectAllCheckbox").prop("checked", true);
        } else {
            $("#selectAllCheckbox").prop("checked", false);
        }
    };

</script>
