
@using Model.ToolsModels.Grid

@model VmJsGrid

@{
    /**/

    var jsGridHtmlElementId = "_" + Model.HtmlElementId;
    var jsGridObjectId = Model.HtmlElementId;
    var detailsDialogHtmlElementId = Guid.NewGuid().ToString().Replace("-", "_");
    var jsGridLoadDataUrl = Url.Action(Model.DataAction, Model.DataController);
    var jsGridUpdateDataUrl = Url.Action(Model.EditAction, Model.EditController);
    var Display = Model.ReadOnly ? "hidden" : "";
}

<div class="row">

    <div id="@jsGridHtmlElementId"></div>
    <link href="~/Resources/CSS/modal-fixed-full-screen.css" rel="stylesheet" />
    <div class="modal-fixed-full-screen">
        <div class="modal fade" id="profileInfoModal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-default profile-info-modal-close-button text-left"> Close</button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title"><span id="profileNameSpan"></span> Profile Info</h4>

                        <div id="profileDiv" class=""></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default profile-info-modal-close-button text-left">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <div class="config-panel">
        <label><input id="heading" type="checkbox" checked /> Heading</label>
        <label><input id="filtering" type="checkbox" /> Filtering</label>
        <label><input id="inserting" type="checkbox" /> Inserting</label>
        <label><input id="editing" type="checkbox" checked /> Editing</label>
        <label><input id="paging" type="checkbox" checked /> Paging</label>
        <label><input id="sorting" type="checkbox" /> Sorting</label>
        <label><input id="selecting" type="checkbox" checked /> Selecting</label>
    </div>

</div>
<script>

    var userMemberFirstTimeLoad = [];
    var judgeRowIndex = 0;
    var labResultUrlRowIndex = 0;
    var ActiveRowIndex = 0;

    $(document).ready(function () {

        $("#@jsGridHtmlElementId").jsGrid({
            width: "100%",
            height: "auto",
            editing: true,
            inserting: false,
            autoload: true,
            paging: true,
            pageSize: 50,
            pageIndex: 1,
            pageButtonCount: 5,
            datatype: "json",
            updateOnResize: false,
            rowClick: function (args) {

                showProfile(args.item.UserId, args.item.FirstName + " " + args.item.LastName );

            },
            onDataLoading: function (args) {


            },
            onDataLoaded: function (args) {
                //for (i = taskRowIndex - 1; i >= 0; i--) {
                //    $("#taskDiv" + i).on('shown.bs.collapse', function () {

                //        $(this).prev().addClass("glyphicon-chevron-up");
                //        $(this).prev().removeClass("glyphicon-chevron-down");
                //    });

                //    $("#taskDiv" + i).on('hide.bs.collapse', function () {

                //        $(this).prev().addClass("glyphicon-chevron-down");
                //        $(this).prev().removeClass("glyphicon-chevron-up");
                //    });

                //}
            },
            controller: {
                loadData: function (filter) {

                    return $.ajax({
                        type: "POST",
                        url: "@jsGridLoadDataUrl",
                        data: { filter }
                    });
                }
            },

            fields:
                [
                    {
                        type: "control", align: "center", sorting: false, width: 40,
                        headerTemplate: function () {

                            return $("<span>").text("All").css({ display: "block" })
                                .add($("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox")
                                    .click(function () {
                                        selectedItems = [];
                                        if (this.checked) { // check select status
                                            $('.singleCheckbox').each(function () {
                                                this.checked = true;
                                                selectItem($(this).data("value"));
                                            });

                                        } else {

                                            $('.singleCheckbox').each(function () {
                                                this.checked = false;
                                                unselectItem($(this).data("value"));
                                            });
                                            selectedItems = [];
                                        }
                                    }).css({ width: "20px", height: "20px" }));
                        },
                        itemTemplate: function (_, item) {

                            return $("<input>").attr("type", "checkbox")
                                .attr(
                                    {
                                    "class": "singleCheckbox",
                                    "data-value": item.UserId,
                                        "id": "userCheckbox" + item.Id,
                                    })
                                .prop("checked", $.inArray(item.Id, selectedItems) > -1)
                                .on("click", function (item) {
                                    event.stopPropagation();
                                }).on("change", function (item) {

                                    $(this).is(":checked") ? selectItem($(this).data("value")) : unselectItem($(this).data("value"));

                                    $("#selectAllUserWithMembersCheckbox").prop("checked", false);

                                }).css({ width: "20px", height: "20px" });
                        },

                    },
                    { name: "Id", type: "number", visible: false },
                    { name: "FirstName", title: "@Model["First Name"]", type: "text", width: 120 },
                    { name: "LastName", title: "@Model["Last Name"]", type: "text", width: 120 },
                    { name: "RoleName", title: "@Model["Role"]", type: "text", width: 100 },
                    { name: "Email", title: "@Model["Email"]", type: "text", width: 120 },
                    { name: "PhoneNumber", title: "@Model["Phone Number"]", type: "text", width: 120 },
                    { name: "DietType", title: "@Model["Diet Type"]", type: "text", width: 120 },
                    { name: "Allergies", title: "@Model["Allergies"]", type: "text", width: 120 },
                    { name: "University", title: "@Model["University"]", type: "text", width: 120 },
                    { name: "T_Shirt_Size", title: "@Model["T-Shirt Size"]", type: "text", width: 80 },
                    { name: "JacketSize", title: "@Model["Jacket Size"]", type: "text", width: 80 },
                    @*{
                        name: "Tasks", title: "@Model["Tasks"]", width: 100, type: "text",
                        itemTemplate: function (item) {

                            var result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                            var taskList = [''];
                            if (item != null) {
                                taskList = item.split(',');
                            }
                            var taskHtmlList = '';

                            for (i = 0; i < taskList.length; i++) {
                                taskHtmlList += '<li>' + taskList[i] + '</li>';
                            }

                            var collapsElement = $(
                                '<div id="taskDiv' + taskRowIndex + '" class="collapse in">' +
                                '<ul>' + taskHtmlList + '</ul>' +
                                '</div>');

                            var customButton = $("<button>")
                                .attr({
                                    "data-toggle": "collapse",
                                    "class": "btn btn-success glyphicon glyphicon-chevron-up",
                                    "data-target": "#taskDiv" + taskRowIndex,
                                })
                                .on("click", function () {
                                    $(this).next().collapse("toggle");
                                    return false;
                                });

                            taskRowIndex++;
                            return result.add(customButton).add(collapsElement);
                        }
                    },*@
                    {
                        name: "Agreement", title: "@Model["Registration Status"]", width: 80, type: "checkbox",
                        itemTemplate: function (item) {

                            if (item == true) {
                                val = '/Resources/Images/Stylish_ok.png';
                            }
                            else {
                                val = '/Resources/Images/Stylish_not_ok.png';
                            }

                            return $("<img>").attr("src", val).css({ width: "32px" })
                        }
                    },
                    {
                        name: "Sex", title: "@Model["Gender"]", width: 80, type: "checkbox",
                        itemTemplate: function (item) {

                            if (item == true) {
                                val = '/Resources/Images/female.png';
                            }
                            else {
                                val = '/Resources/Images/male.png';
                            }

                            return $("<img>").attr("src", val).css({ width: "48px" })
                        }
                    },


                ]
        });

        $(".config-panel input[type=checkbox]").on("click", function () {
            var $cb = $(this);
            $("#@jsGridHtmlElementId").jsGrid("option", $cb.attr("id"), $cb.is(":checked"));
        });

        $("#filtering").click();
        $("#sorting").click();
    });

    function reversUserActivationStatus(userId, activeImageUrl) {
        HoldOn.open({
            theme: 'sk-cube-grid',
            message: "<h4>@Model["Please wait..."]</h4>"
        });

        $.ajax({
            type: "POST",
            url: "/user/uta",
            data: { userId: userId },
        }).done(function (response) {


            if (response.lastStatus == false) {
                $("#" + activeImageUrl).attr('src', '/Resources/Images/Stylish_ok.png');
            }
            else {
                $("#" + activeImageUrl).attr('src', '/Resources/Images/Stylish_not_ok.png');
            }

            HoldOn.close();

        });

    }

    var selectedItems = [];

    var selectItem = function (item) {

        selectedItems.push(item);
        if ($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
            $("#selectAllCheckbox").prop("checked", true);
        } else {
            $("#selectAllCheckbox").prop("checked", false);
        }
    };

    var unselectItem = function (item) {
        selectedItems = $.grep(selectedItems, function (i) {
            return i !== item;
        });
        if (selectedItems.length == 0) {
            $('#selectAllCheckbox').prop('checked', false);
        }
        if ($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
            $("#selectAllCheckbox").prop("checked", true);
        } else {
            $("#selectAllCheckbox").prop("checked", false);
        }
    };

</script>

<script>
    $(".profile-info-modal-close-button").click(function () {
        $("#profileInfoModal").modal("toggle");

    });

    function showProfile(userId, name) {
        event.stopPropagation(); event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/person/gpi",
            data: { userId },
            dataType: "html",
        }).done(function (response) {
            if (response == '') {
                response = 'Profile not completed';
            }
            $("#profileDiv").html(response);
            $("#profileNameSpan").text(name);
            $("#profileInfoModal").modal();
        }).fail(function (data, textStatus, XMLHttpRequest) {

        });

    }
</script>
